.first-screen {
  padding: 0 0 0 0;
  position: absolute;
  top: 0;
  width: 100%; }

.first-screen__video {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.first-screen__video-container {
  bottom: 0;
  height: 799px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-width: 1242px;
  z-index: -100; }

.first-screen__header {
  font-family: OpenSansBold, sans-serif;
  font-size: 205%;
  line-height: 140%;
  margin: 0; }

.first-screen__info {
  position: absolute;
  top: 195px;
  width: 100%; }

.first-screen__col1 {
  color: #fff;
  float: left;
  padding: 66px 0 0 0;
  width: 500px; }

.first-screen__link {
  margin: 54px 0 0 0;
  text-decoration: none; }

.first-screen__col2 {
  float: right;
  position: relative;
  width: 606px; }

.first-screen__text {
  font-family: GentiumRegular, serif;
  font-size: 120%;
  line-height: 165%;
  margin: 0;
  padding: 33px 0 0 0; }

.slide__header {
  font-family: OpenSansBold, sans-serif;
  font-size: 130%; }

.slide__text {
  font-family: GentiumRegular, serif;
  font-size: 120%;
  line-height: 160%;
  margin: 3px 0 0 0; }

.slide__image {
  background-size: cover;
  height: 348px;
  position: relative;
  width: 100%; }

.slide__textblock {
  background: #fff;
  padding: 27px 29px 33px 29px; }

.slider__arrow {
  height: 24px;
  position: absolute;
  top: 167px;
  width: 53px; }

.slider__arrow-image {
  display: block;
  position: absolute; }

.slider__arrow--left {
  padding: 12px 12px 12px 30px; }

.slider__arrow--right {
  display: block;
  padding: 12px 30px 12px 12px;
  right: 0px; }

.slider__arrow-image--right-normal {
  opacity: 1;
  right: 30px;
  transition: 0.3s; }

.slider__arrow-image--left-normal {
  opacity: 1;
  transition: 0.3s; }

.slider__arrow--left:hover .slider__arrow-image--left-normal {
  opacity: 0; }

.slider__arrow--right:hover .slider__arrow-image--right-normal {
  opacity: 0; }

.slider__arrow-image--left-active {
  left: 44px;
  opacity: 0;
  transition: 0.5s; }

.slider__arrow-image--right-active {
  right: 44px;
  opacity: 0;
  transition: 0.5s; }

.slider__arrow--left:hover .slider__arrow-image--left-active {
  left: 30px;
  opacity: 1; }

.slider__arrow--right:hover .slider__arrow-image--right-active {
  right: 30px;
  opacity: 1; }

.slider__arrow:hover #mainpage-slider {
  background: red; }

.bottom-block {
  margin: 30px 0 0 0;
  position: relative; }

.bottom-block__video-container {
  bottom: 0;
  height: 751px;
  left: 0;
  min-width: 1242px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -100; }

.footer__line {
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 0 0 89px 0;
  width: 100%; }

.footer__info.footer__into--index {
  padding: 80px 0 0 0; }

.footer__row.footer__row--index {
  padding: 60px 0 0 0; }

@media (max-width: 1440px) {
  .first-screen__video {
    height: 100%;
    width: auto; } }
