.news__breadcrumbs {
  color: #a8a8a8;
  padding: 34px 0 0 0;
  font-size: 95%; }

.news__h1 {
  font-family: OpenSansBold, sans-serif;
  font-size: 205%;
  margin: 0;
  padding: 31px 0 0 0; }

.news__date {
  color: #a8a8a8;
  font-family: GentiumRegular, serif;
  font-size: 130%;
  padding: 24px 0 47px 0; }

.news__content {
  margin: 0 auto;
  width: 709px; }

.right-menu {
  padding: 90px 0 0 29px; }

.right-menu__header {
  font-family: OpenSansBold, sans-serif;
  font-size: 145%;
  padding: 0 0 14px 0; }

.right-menu__news {
  padding: 0 29px 12px 0;
  width: 266px; }

.right-menu__news-date {
  color: #9e9e9e;
  font-family: GentiumRegular, serif;
  padding: 0 0 8px 0; }

.right-menu__news-link {
  border-bottom: 1px solid rgba(31, 204, 163, 0);
  color: #1e1e1e;
  font-family: OpenSansBold, sans-serif;
  line-height: 155%;
  text-decoration: none; }

.right-menu__news-link:hover {
  border-bottom: 1px solid #1fcca3; }

.right-menu__go-to {
  padding: 2px 0 0 0;
  width: 260px; }

.right-menu__go-to-link {
  color: #1fcca3;
  float: right;
  font-family: OpenSansBold, sans-serif; }

.right-bg-doodle {
  background: url(../images/right-bg-news.jpg) no-repeat; }

.news__social-icon {
  display: block;
  float: left;
  position: relative; }

.news__social-icon-image {
  position: absolute; }

.news__social-icon--twitter {
  height: 18px;
  width: 22px;
  margin: 0 63px 0 0; }

.news__social-icon-image--twitter {
  opacity: .2;
  transition: .2s; }

.news__social-icon-image--twitter-hover {
  opacity: 0;
  transition: .2s; }

.news__social-icon--twitter:hover .news__social-icon-image--twitter-hover {
  opacity: 1; }

.news__social-icon--twitter:hover .news__social-icon-image--twitter {
  opacity: 0; }

.news__social-icon--facebook {
  height: 22px;
  width: 14px;
  margin: -2px 70px 0 0; }

.news__social-icon-image--facebook {
  opacity: .2;
  transition: .2s; }

.news__social-icon-image--facebook-hover {
  opacity: 0;
  transition: .2s; }

.news__social-icon--facebook:hover .news__social-icon-image--facebook-hover {
  opacity: 1; }

.news__social-icon--facebook:hover .news__social-icon-image--facebook {
  opacity: 0; }

.news__social-icon--vk {
  height: 16px;
  margin: 2px 71px 0 0;
  width: 26px; }

.news__social-icon-image--vk {
  opacity: .2;
  transition: .2s; }

.news__social-icon-image--vk-hover {
  opacity: 0;
  transition: .2s; }

.news__social-icon--vk:hover .news__social-icon-image--vk-hover {
  opacity: 1; }

.news__social-icon--vk:hover .news__social-icon-image--vk {
  opacity: 0; }

.news__social-icon--instagram {
  height: 16px;
  width: 26px; }

.news__social-icon-image--instagram-normal {
  opacity: .2;
  transition: .2s; }

.news__social-icon-image--instagram-hover {
  opacity: 0;
  transition: .2s; }

.news__social-icon--instagram:hover .news__social-icon-image--instagram-hover {
  opacity: 1; }

.news__social-icon--instagramk:hover .news__social-icon-image--instagram {
  opacity: 0; }

.news__social {
  padding: 43px 0 38px 0; }

.news__p {
  font-family: GentiumRegular, serif;
  font-size: 120%;
  line-height: 145%;
  margin: 0 0 27px 0; }
