/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020;
  min-width: 880px !important; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-inner {
  display: none; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/close.svg");
  background-repeat: no-repeat; }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: 15px;
  right: -1px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
  height: 54px;
  position: absolute;
  top: 0; }

.fancybox-prev {
  background-image: url(../images/slider-arrow-small-left.svg);
  background-position-x: 10px;
  background-position-y: 21px;
  right: 54px;
  width: 54px; }

.fancybox-next {
  right: 0;
  background-image: url(../images/slider-arrow-small-right-active.svg);
  background-color: #46d0b0;
  background-position-x: 10px;
  background-position-y: 21px;
  width: 54px; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

.fancybox-h1 {
  font-family: OpenSansBold, sans-serif;
  font-size: 170%;
  margin: 6px 0 7px 0; }

.fancybox-text {
  font-family: OpenSans, sans-serif;
  font-size: 115%; }

.fancybox-post {
  color: #a8a8a8;
  font-family: GentiumRegular, serif;
  font-size: 120%;
  padding: 16px 0 8px 0; }

.fancybox-text--company-gallery {
  font-family: GentiumRegular, serif;
  font-size: 125%;
  line-height: 145%; }

.fancybox__image-container-image {
  display: block; }

.fancybox__image-container {
  position: relative; }

.fancybox__green-doodle {
  background: #1fcca3;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  width: 100%; }

.team__employee:hover .fancybox__green-doodle {
  opacity: .45; }

.fancybox-image {
  float: left;
  margin: 0 33px 0 0;
  width: 400px; }

.fancybox-p {
  font-family: GentiumRegular, serif;
  font-size: 125%;
  line-height: 165%;
  margin: 0 0 34px 0; }

.fancybox-skin {
  background: #fff;
  padding: 52px 32px 24px 32px !important;
  position: relative;
  text-shadow: none; }
