form.career-popup
    div.career-popup__close
        img(src="images/close.svg" alt="Закрыть")
    div.career-popup__header Откликнуться на вакансию
    div.career-popup__post топ менеджер
    div.career-popup__necessary Обязательно к заполнению
    div.consultation__input-container
        input.consultation__input(name="careername" placeholder="Имя")
    div.consultation__input-container
        input.consultation__input(name="careerphone" placeholder="Номер телефона")
    div.consultation__input-container
        input.consultation__input(name="careeremail" placeholder="Email")
    div.career-popup__summary-row
        div.career-popup__summary-text Прикрепить резюме
        label.career-popup__summary-label(for="summary") Обзор
        input(type="file" id="summary")
        div.clear
    textarea.consultation__input.consultation__input--textarea(name="career-textarea") Сообщение
    button.green-button.green-button--career Отправить