div.footer
    div.footer__info
        div.wrapper
            div.footer__links-container
                a.footer__link(href="javascript:void(0);") Главная
                a.footer__link(href="javascript:void(0);") О компании
                a.footer__link(href="javascript:void(0);") Продукция
                a.footer__link(href="javascript:void(0);") Услуги
                a.footer__link(href="javascript:void(0);") Библиотека
                a.footer__link(href="javascript:void(0);") События
                a.footer__link(href="javascript:void(0);") Загрузки
                a.footer__link(href="javascript:void(0);") Контакты
                a.footer__link-phone(href="tel:+74959393592") +(495) 939-35-92 
                div.clear
                a.footer__link-email(href="mailto:inumit@info.ru") inumit@info.ru
                div.clear
            div.footer__row
                div.footer__top
                    img.footer__top-image.footer__top-image-normal(src="images/top.svg" alt="Наверх")
                    img.footer__top-image.footer__top-image-hover(src="images/top-hover.svg" alt="Наверх")
                div.footer__social
                    a.footer__social-icon.footer__social-icon--twitter(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--twitter(src="images/twitter.svg" alt="твиттер")
                        img.footer__social-icon-image.footer__social-icon-image--twitter-hover(src="images/twitter-hover.svg" alt="твиттер")
                    a.footer__social-icon.footer__social-icon--facebook(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--facebook(src="images/facebook.svg" alt="фейсбук")
                        img.footer__social-icon-image.footer__social-icon-image--facebook-hover(src="images/facebook-hover.svg" alt="фейсбук")
                    a.footer__social-icon.footer__social-icon--vk(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--vk(src="images/vk.svg" alt="вконтакте")
                        img.footer__social-icon-image.footer__social-icon-image--vk-hover(src="images/vk-hover.svg" alt="вконтакте")
                    a.footer__social-icon.footer__social-icon--instagram(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--instagram-normal(src="images/instagram.svg" alt="инстаграм") 
                        img.footer__social-icon-image.footer__social-icon-image--instagram-hover(src="images/instagram-hover.svg" alt="инстаграм")              
                    div.clear
                form.footer__subscribe
                    div.footer__subscribe-text Подписаться на рассылку
                    input.footer__subscribe-input(placeholder="E-mail")
                    button.footer__subscribe-button Отправить
                    div.clear
                div.footer__column-right
                    div.footer__copyright © 2016 Itecma все права защищены
                    div.footer__netlab
                        | Разработка сайта 
                        a.footer__netlab-link(href="javascript:void(0);") Netlab
                div.clear

    video.footer__video(loop muted autoplay poster="video/video.jpg")
        source(src="video/video.webm" type="video/webm")
        source(src="video/video.mp4" type="video/mp4")