div.header__main-container
    div.wrapper.wrapper--header-main-container
        div.header-logo
            a.header__logo(href="index.html")
                img(src="images/logo.png" alt="logo") 

        div.header
            div.wrapper        
                div.header__menu-container
                    div.header__menu
                        div.header__menu-block-container
                        div.header__menu-hamburger
                            div.header__menu-hamburger-line.header__menu-hamburger-line--1
                            div.header__menu-hamburger-line.header__menu-hamburger-line--2
                            div.header__menu-hamburger-line
                        div.header__menu-text Меню 
                    div.header__guide Путеводитель по материалам
                    div.header__phone
                        img.header__phone-image.header__phone-image--normal(src="images/phone.svg" alt="Проконсультироваться")
                        img.header__phone-image.header__phone-image--hover(src="images/phone-hover.svg" alt="Проконсультироваться")
                    div.header__search
                        img.header__search-image.header__search-image--normal(src="images/search.svg" alt="Поиск")
                        img.header__search-image.header__search-image--hover(src="images/search-hover.svg" alt="Поиск")
                    div.clear                        
                div.clear