div.header-video
    video.header-video__video(loop muted autoplay poster="video/video.jpg")
        source(src="video/video.webm" type="video/webm")
        source(src="video/video.mp4" type="video/mp4")