ul.right-menu
    li.right-menu__li
        a.right-menu__link.right-menu__link--active(href="javascript:void(0);") О нас
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") Вакансии
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") Команда
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") Фотогалерея
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") История компании