doctype html
html
    head
        title ITECMA | Вакансии
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/company.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/career.jpg" alt="index" style="position: absolute; margin-left: 137px; top: 0; z-index: 1; opacity: .5;")
        //img(src="images/career-popup.jpg" alt="index" style="position: absolute; margin-left: 375px; top: 110px; z-index: 1; opacity: .5;")
        
        include includes/header 
        include includes/header-video
        include includes/right-bg-doodle
        include includes/consultation
        include includes/black-bg 
        include includes/career-popup

        div.main-block
            div.main-block__column-left.main-block__column
                div.main-block__content                
                    div.company__breadcrumbs Главная - О компании - Вакансии
                    h1.company__h1 О компании
                    h2.company__h2.company__h2--career Вакансии 
                    div.vacancy
                        div.vacancy__header Топ менеджер
                        div.vacancy__text Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                        div.vacancy__bottom
                            a.vacancy__link(href="javascript:void(0);") Подробнее о вакансии
                            button.vacancy__button.green-button Откликнуться на вакансию
                            div.clear 
                    div.vacancy
                        div.vacancy__header Топ менеджер
                        div.vacancy__text Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                        div.vacancy__bottom
                            a.vacancy__link(href="javascript:void(0);") Подробнее о вакансии
                            button.vacancy__button.green-button Откликнуться на вакансию
                            div.clear 
                    div.vacancy
                        div.vacancy__header Топ менеджер
                        div.vacancy__text Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                        div.vacancy__bottom
                            a.vacancy__link(href="javascript:void(0);") Подробнее о вакансии
                            button.vacancy__button.green-button Откликнуться на вакансию
                            div.clear 
                            
                    div.navigation.navigation--vacancy
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 1
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 2
                        a.navigation__page.navigation__page--active(href="javascript:void(0);") 
                            span.navigation__page-span 3
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 4
                        a.navigation__page.navigation__page--dots(href="javascript:void(0);") ...
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 14
                        a.navigation__next-page Следующая страница
                        div.clear
                div.clear
            div.main-block__column-right.main-block__column
                ul.right-menu
                    li.right-menu__li
                        a.right-menu__link(href="company.html") О нас
                    li.right-menu__li
                        a.right-menu__link.right-menu__link--active(href="javascript:void(0);") Вакансии
                    li.right-menu__li
                        a.right-menu__link(href="team.html") Команда
                    li.right-menu__li
                        a.right-menu__link(href="company-gallery.html") Фотогалерея 
                    li.right-menu__li
                        a.right-menu__link(href="javascript:void(0);") История компании
            div.clear
            
        include includes/footer-video
            
        

        script(src="js/index.js")
        script(src="js/career.js")