doctype html
html
    head
        title ITECMA | Команда
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/company.css")
        link(rel="stylesheet", href="css/jquery.fancybox.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/team.jpg" alt="index" style="position: absolute; margin-left: 142px; top: 0; z-index: 1; opacity: .5;")
                
        include includes/header 
        include includes/header-video
        include includes/right-bg-doodle

        div.main-block
            div.main-block__column-left.main-block__column
                div.main-block__content                
                    div.company__breadcrumbs Главная - О компании - Фотогалерея
                    h1.company__h1 О компании
                    h2.company__h2 Фотогалерея
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-1.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-1.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-2.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-2.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-3.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-3.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-4.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-4.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-5.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-5.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-6.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-6.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-1.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-1.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-2.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-2.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-3.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-3.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-4.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-4.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-5.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-5.jpg")
                    a.fancybox.team__employee.team__employee--company-gallery(href="images/company-gallery-6.jpg" rel="gallery" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/company-gallery-6.jpg")
                    div.clear
                    
                    div.navigation
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 1
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 2
                        a.navigation__page.navigation__page--active(href="javascript:void(0);") 
                            span.navigation__page-span 3
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 4
                        a.navigation__page.navigation__page--dots(href="javascript:void(0);") ...
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 14
                        a.navigation__next-page Следующая страница
                        div.clear
                div.clear
            div.main-block__column-right.main-block__column
                ul.right-menu
                    li.right-menu__li
                        a.right-menu__link(href="company.html") О нас
                    li.right-menu__li
                        a.right-menu__link(href="career.html") Вакансии
                    li.right-menu__li
                        a.right-menu__link(href="team.html") Команда
                    li.right-menu__li
                        a.right-menu__link.right-menu__link--active(href="javascript:void(0);") Фотогалерея
                    li.right-menu__li
                        a.right-menu__link(href="javascript:void(0);") История компании
            div.clear
            
        include includes/footer-video
            
        script(src="js/index.js")
        script(src="js/company-gallery.js")