doctype html
html
    head
        title ITECMA
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/index.jpg" alt="index" style="position: absolute; margin-left: 102px; top: 0; z-index: 1; opacity: .5;")
        //img(src="images/consult.jpg" alt="index" style="position: absolute; margin-left: 194px; top: -53px; z-index: 1; opacity: .5;")
 
        include includes/consultation
        include includes/black-bg
        
        div.first-screen
            div.first-screen__video-container
                video.first-screen__video(loop muted autoplay poster="video/video.jpg")
                    source(src="video/video.webm" type="video/webm")
                    source(src="video/video.mp4" type="video/mp4")
            
            include includes/header  
                    
            div.first-screen__info
                div.wrapper
                    div.first-screen__col1
                        h1.first-screen__header Российский производитель композиционных материалов
                        p.first-screen__text Наши материалы используют ведущие предприятия космической отрасли и гражданской авиации России
                        a.first-screen__link.green-button(href="company.html") В раздел о компании
                    div.first-screen__col2
                        div.slider(id="mainpage-slider")
                            div.slide
                                div.slide__image(style="background-image: url('images/slide-1.jpg')")
                                div.slide__textblock
                                    div.slide__header PN-3M
                                    div.slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол
                            div.slide
                                div.slide__image(style="background-image: url('images/slide-1.jpg')")
                                div.slide__textblock
                                    div.slide__header PN-3M
                                    div.slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол                         
                            div.slide 
                                div.slide__image(style="background-image: url('images/slide-1.jpg')")
                                div.slide__textblock
                                    div.slide__header PN-3M
                                    div.slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол
                            
                    div.clear
            
        div.category
            div.wrapper
                div.category__card.category__card--binder
                    div.category__header Связующие
                    ul.category__ul
                        li.category__li Полимерные связующие собственной разработки для высокотехнологичных и массовых отраслей
                        li.category__li Линия связующих для изготовления оснастки
                    div.category__temperature
                        div.category__temperature-header Температура эксплуатации в изделиях:
                        div.category__temperature-text  от -100 до +450 ⁰С
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее
                        
                div.category__card.category__card--fabric
                    div.category__header Ткани и ленты
                    ul.category__ul
                        li.category__li Из углеродного волокна российских и зарубежных производителей
                        li.category__li Ткани и ленты с биндером ITECMA не требуют использования клея для временной фиксации.
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее
                div.clear
                
                div.category__card.category__card--glue
                    div.category__header Клеи и клеевые пленки
                    ul.category__ul
                        li.category__li Для склеивания сотовых и композитных конструкций с эффектом вспенивания
                        li.category__li Тиксотропный клей не течет и может использоваться для заполнения больших полостей
                    div.category__temperature
                        div.category__temperature-header Температура эксплуатации в изделиях:
                        div.category__temperature-text от -100 до +250 ⁰С
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее 
                        
                div.category__card.category__card--prepregs
                    div.category__header Препреги
                    ul.category__ul
                        li.category__li На основе углеродных тканей и связующих собственного производства 
                    div.category__temperature
                        div.category__temperature-header Температура эксплуатации в изделиях:
                        div.category__temperature-text от -100 до +250 ⁰С
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее
                div.clear
        
        div.bottom-block
            div.wrapper
                div.services
                    div.services__column-left
                        a.services__link(href="javascript:void(0);")
                            img.services__icon(src="images/service-1.svg" alt="Техническое сопровождение")
                            div.services__text Техническое сопровождение
                            div.clear
                            img.services__arrow(src="images/arrow-green.svg" alt="Стрелка")
                    div.services__column-center
                        div.services__line
                    div.services__column-right
                        a.services__link(href="javascript:void(0);")
                            img.services__icon(src="images/service-2.svg" alt="Научные разработки")
                            div.services__text Научные разработки
                            div.clear
                            img.services__arrow(src="images/arrow-green.svg" alt="Стрелка") 
                    div.clear
            div.bottom-block__video-container
                video.bottom-block__video(loop muted autoplay poster="video/video.jpg")
                    source(src="video/video.webm" type="video/webm")
                    source(src="video/video.mp4" type="video/mp4")
            include includes/footer-index

        script(src="js/index.js")