doctype html
html
    head
        title ITECMA | СтатьяНовостьЗаметка
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/company.css")
        link(rel="stylesheet", href="css/news.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/news.jpg" alt="index" style="position: absolute; margin-left: 146px; top: 0; z-index: 1; opacity: .5;") 
        
        include includes/header 
        include includes/header-video
        include includes/right-bg-doodle

        div.main-block
            div.main-block__column-left.main-block__column
                div.main-block__content                
                    div.news__breadcrumbs Главная - Новости - Название новости
                    h1.news__h1 Институт создан на базе кафедры химических технологий и новых материалов МГУ им. М.В.Ломоносова 
                    div.news__date 30 апрель 2017
                    div.news__content
                        img(src="images/news-image.jpg" alt="картинка")
                        div.news__social
                            a.news__social-icon.news__social-icon--twitter(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--twitter(src="images/twitter-normal.svg" alt="твиттер")
                                img.news__social-icon-image.news__social-icon-image--twitter-hover(src="images/twitter-hover.svg" alt="твиттер")
                            a.news__social-icon.news__social-icon--facebook(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--facebook(src="images/facebook-normal.svg" alt="фейсбук")
                                img.news__social-icon-image.news__social-icon-image--facebook-hover(src="images/facebook-hover.svg" alt="фейсбук")
                            a.news__social-icon.news__social-icon--vk(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--vk(src="images/vk-normal.svg" alt="вконтакте")
                                img.news__social-icon-image.news__social-icon-image--vk-hover(src="images/vk-hover.svg" alt="вконтакте")
                            a.news__social-icon.news__social-icon--instagram(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--instagram-normal(src="images/instagram-normal.svg" alt="инстаграм")
                                img.news__social-icon-image.news__social-icon-image--instagram-hover(src="images/instagram-hover.svg" alt="инстаграм") 
                            div.clear
                        p.news__p ЗАО «ИНУМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.
                        p.news__p Институт одним из первых в России реализует на практике идею партнерства крупнейшего научно-образовательного центра, государства и частного бизнеса в области науки и инноваций. Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами. 
                div.clear
            div.main-block__column-right.main-block__column
                div.right-menu
                    div.right-menu__header Читайте так же
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Наш институт обладает необходимыми компетенциями в поставке
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Космо-станция «Sолярис» — это самое необычное воплощение космоса
                    div.right-menu__news
                        div.right-menu__news-date 17 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Остров папуасов и райских птиц
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Наш институт обладает необходимыми компетенциями в поставке
                    div.right-menu__news
                        div.right-menu__news-date 17 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                    div.right-menu__go-to
                        a.right-menu__go-to-link Перейти в раздел
                        div.clear
            div.clear
            
        include includes/footer-video
            
        

        script(src="js/index.js")