doctype html
html
    head
        title ITECMA | Команда
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/company.css")
        link(rel="stylesheet", href="css/team.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/team.jpg" alt="index" style="position: absolute; margin-left: 142px; top: 0; z-index: 1; opacity: .5;")
        
        include includes/header 
        include includes/header-video
        include includes/right-bg-doodle

        div.main-block
            div.main-block__column-left.main-block__column
                div.main-block__content                
                    div.company__breadcrumbs Главная - О компании - Фотогалерея
                    h1.company__h1 О компании
                    h2.company__h2 Команда
                    a.fancybox.team__employee(href="images/employee-1.jpg" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p class='fancybox-p'>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="images/employee-1.jpg") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/employee-1.jpg")
                        div.team__employee-header Мирослав Нестеров
                        div.team__employee-text Ведущий разработчик
                    a.fancybox.team__employee(href="images/employee-2.jpg" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p class='fancybox-p'>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="images/employee-2.jpg") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/employee-2.jpg")
                        div.team__employee-header Мирослав Нестеров
                        div.team__employee-text Ведущий разработчик
                    a.fancybox.team__employee(href="images/employee-3.jpg" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p class='fancybox-p'>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="images/employee-3.jpg") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/employee-3.jpg")
                        div.team__employee-header Мирослав Нестеров
                        div.team__employee-text Ведущий разработчик
                    a.fancybox.team__employee(href="images/employee-4.jpg" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p class='fancybox-p'>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="images/employee-4.jpg") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/employee-4.jpg")
                        div.team__employee-header Мирослав Нестеров
                        div.team__employee-text Ведущий разработчик
                    a.fancybox.team__employee(href="images/employee-5.jpg" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p class='fancybox-p'>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="images/employee-5.jpg") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/employee-5.jpg")
                        div.team__employee-header Мирослав Нестеров
                        div.team__employee-text Ведущий разработчик
                    a.fancybox.team__employee(href="images/employee-6.jpg" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p class='fancybox-p'>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p class='fancybox-p'>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="images/employee-6.jpg") 
                        div.fancybox__image-container
                            div.fancybox__green-doodle
                            img.fancybox__image-container-image(src="images/employee-6.jpg")
                        div.team__employee-header Мирослав Нестеров
                        div.team__employee-text Ведущий разработчик
                    div.clear
                    
                    div.navigation
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 1
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 2
                        a.navigation__page.navigation__page--active(href="javascript:void(0);") 
                            span.navigation__page-span 3
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 4
                        a.navigation__page.navigation__page--dots(href="javascript:void(0);") ...
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 14
                        a.navigation__next-page Следующая страница
                        div.clear
                div.clear
            div.main-block__column-right.main-block__column
                ul.right-menu
                    li.right-menu__li
                        a.right-menu__link(href="company.html") О нас
                    li.right-menu__li
                        a.right-menu__link(href="career.html") Вакансии
                    li.right-menu__li
                        a.right-menu__link.right-menu__link--active(href="javascript:void(0);") Команда
                    li.right-menu__li
                        a.right-menu__link(href="company-gallery.html") Фотогалерея
                    li.right-menu__li
                        a.right-menu__link(href="javascript:void(0);") История компании
            div.clear
            
        include includes/footer-video
            
        script(src="js/index.js")
        script(src="js/team.js")