body{
    position: relative;
}

.company__h1{
    font-family: OpenSansBold, sans-serif;
    font-size: 205%;
    margin: 0;
    padding: 22px 0 0 0;
}

.company__h2{
    font-family: OpenSansBold, sans-serif;
    font-size: 145%;
    margin: 0;
    padding: 40px 0 10px 0;
}

.company__p{
    font-family: GentiumRegular, serif;
    font-size: 120%;
    line-height: 155%;
    margin: 0 0 32px 0;
}

.company__breadcrumbs{
    color: #a8a8a8;
    padding: 34px 0 0 0;
    font-size: 95%;
}

.team__employee{
    display: block;
    float: left;
    margin: 15px 30px 33px 0;
    text-decoration: none;
    width: 289px;
}

.team__employee.team__employee--company-gallery{
    margin: 15px 30px 19px 0;
}

.team__employee:nth-child(3n){
    margin: 15px 0 0 0;
}

.team__employee-header{
    font-family: OpenSansBold, sans-serif;
    color: #1e1e1e;
    margin: 18px 0 4px 0;
}

.team__employee-text{
    color: #a8a8a8;
    font-family: GentiumRegular, serif;
}

.navigation{
    margin: 38px 0 0 -15px;
}

.navigation__page{
    color: #1e1e1e;
    display: block;
    float: left;
    font-family: OpenSansBold, sans-serif;
    height: 45px;
    margin: 0 3px 0 0;
    padding: 9px 0 0 0;
    text-align: center;
    text-decoration: none;
    width: 45px;
}

.navigation__page:hover .navigation__page-span{
    border-bottom: 1px solid #707070;
}

.navigation__page--active:hover .navigation__page-span{
    border-bottom: none;
}

.navigation__page--active{
    background: url('../images/nav-circle.svg') no-repeat;
}

.navigation__next-page{
    color: #1fcca3;
    float: right;
    font-family: OpenSansBold, sans-serif;
    font-size: 105%;
    margin: 8px 0 0 0;
}

.vacancy__header{
    font-family: OpenSansBold, sans-serif;
    font-size: 115%;
    padding: 0 0 15px 0;
}

.company__h2--career{
    padding: 40px 0 38px 0;
}


.vacancy{
    border-bottom: 1px solid #d2d2d2;
    margin: 0 0 35px 0;
    padding: 0 0 34px 0;
}

.vacancy__text{
    font-family: GentiumRegular, serif;
    font-size: 115%;
    line-height: 165%;
    padding: 0 0 31px 0;
}

.vacancy__link{
    color: #1fcca3;
    display: block;
    float: left;
    font-family: OpenSansBold, sans-serif;
    text-decoration: none;
}

.vacancy__button{
    background: none;
    float: right;
    font-size: 100%;
    margin: -16px 16px 0 0;
    padding: 15px 29px 16px 24px;
}

.navigation--vacancy{
    margin: 62px 0 0 -15px;
}

.right-bg-doodle{
    background: url(../images/right-bg.jpg) no-repeat;
}


.career-popup{
    background: rgba(255,255,255,1);
    display: none;
    left: 50%;
    margin-left: -355px;
    padding: 42px 0 64px 0;
    position: absolute;
    top: 195px;
    width: 669px;
    z-index: 3;
}

.career-popup__close{
    cursor: pointer;
    padding: 19px 16px 5px 14px;
    position: absolute;
    right: 0;
    top: 0;
}

.career-popup__header{
    font-family: OpenSansBold, sans-serif;
    font-size: 145%;
    text-align: center;
}

.career-popup__post{
    font-family: OpenSansBold, sans-serif;
    font-size: 115%;
    padding: 13px 0 0 0;
    text-align: center;
}

.career-popup__necessary{
    color: #949494;
    display: table;
    font-family: GentiumRegular, serif;
    font-size: 110%;
    margin: 24px auto 34px;
    position: relative;
}

.career-popup__necessary:before{
    color: #1fcca3;
    content: '*';
    left: -19px;
    position: absolute;
    top: 5px;
}

.career-popup__summary-row{
    margin: 0 auto;
    padding: 0 0 0 14px;
    width: 378px;
}

.career-popup__summary-text{
    float: left;
    font-family: GentiumRegular, serif;
    font-size: 115%;
    margin: 7px 0 0 0;
}

#summary{
    display: none;
}

.career-popup__summary-label{
    background: #1fcca3;
    float: right;
    font-family: GentiumRegular, serif;
    font-size: 115%;
    padding: 8px 0px;
    text-align: center;
    width: 170px;
}

.green-button--career{
    background: none;
    font-size: 100%;
    margin: 0 auto;
    padding: 15px 45px 16px 45px;
}