body{
    color: #1e1e1e;
    margin: 0;
    padding: 0;
    font-family: OpenSans, sans-serif;
}

.wrapper{
    margin: 0 auto;
    width: 1242px;
    padding: 0;
}

.clear{
    clear: both;
}

@font-face{
    font-family: OpenSans;
    src: url('../fonts/open-sans-regular.ttf');
}

@font-face{
    font-family: OpenSansSemibold;
    src: url('../fonts/open-sans-semibold.ttf');
}

@font-face{
    font-family: OpenSansBold;
    src: url('../fonts/open-sans-bold.ttf');
}

@font-face{
    font-family: GentiumRegular;
    src: url('../fonts/GentiumRegular.ttf');
}

.header-video{
    height: 128px;
    left: 0;
    min-width: 1242px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.footer{
    height: 382px;
    left: 0;
    min-width: 1242px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: -382px;
    width: 100%;
    z-index: 0;
}

.footer__video{
    position: absolute;
    width: 100%;
}

.header-video__video{
    position: absolute;
    top: -200%;
    width: 100%;
}

.footer__info{
    padding: 104px 0 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.footer__link{
    color: #fff;
    margin: 0 46px 0 0;
    text-decoration: none;
    border-bottom: 1px solid  rgba(31, 204, 163, 0);    
}

.footer__link:hover{
    border-bottom: 1px solid  rgba(31, 204, 163, 1);
}

.footer__netlab-link:hover{
    border-bottom: 1px solid  rgba(31, 204, 163, 1);
}

.footer__link-phone{
    color: #fff;
    display: block;
    font-family: OpenSansBold, sans-serif;
    font-size: 130%;
    float: right;
    margin: -6px 0 0 0;
    text-decoration: none;
}

.footer__link-email{
    color: #fff;
    float: right;
    font-size: 95%;
    margin: 4px 0 0 0;
    text-decoration: none;
}

.footer__top{
    border: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 3px;
    cursor: pointer;
    float: left;
    height: 47px;
    position: absolute;
    transition: 0.3s;
    width: 45px;
}

.footer__top:hover{
    border: 1px solid rgba(31, 204, 163, 0.3);
    height: 67px;
}

.footer__top:hover .footer__top-image-normal{
    opacity: 0;
}

.footer__top:hover .footer__top-image-hover{
    opacity: 1;
}

.footer__top-image-normal{
    opacity: 1;
    transition: 0.3s;
}

.footer__top-image-hover{
    opacity: 0;
    transition: 0.3s;
}

.footer__row{
    padding: 79px 0 0 0;
    position: relative;
}

.footer__top-image{
    left: 15px;
    position: absolute;
    top: 18px;
}

.footer__social{
    border: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    margin: 0 0 0 96px;
    padding: 16px 48px 11px 34px;
}

.footer__subscribe{
    float: left;
    margin: 0 0 0 45px;
    position: relative;
}

.footer__subscribe-input{
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: none;
    display: block;    
    float: left;
    padding: 16px 13px 16px 13px;
    width: 210px;
}

.footer__subscribe-button{
    background: #1fcca3;
    display: block;
    border: none;
    float: left;
    font-family: OpenSans, sans-serif;
    font-size: 105%;
    margin: 0;
    padding: 12px 17px 14px 23px;
}

.footer__subscribe-input::-webkit-input-placeholder{
    color: #707070;
    font-family: OpenSansRegular, sans-serif;
    font-size: 110%;
}
.footer__subscribe-input:-moz-placeholder{
    color: #707070;
    font-family: OpenSansRegular, sans-serif;
    font-size: 110%;
}
.footer__subscribe-input:-ms-input-placeholder{
    color: #707070;
    font-family: OpenSans, sans-serif;
    font-size: 110%;
}

.footer__subscribe-text{
    color: #7a7a7a;
    font-size: 95%;
    margin: -32px 0 0 0;
    position: absolute;
}

.footer__column-right{
    color: #7b7b7b;
    float: right;
    font-size: 91%;
    text-align: right;
}

.footer__netlab{
    margin: 11px 0 0 0;
}

.footer__netlab-link{
    color: #7b7b7b;
    text-decoration: none;
}

.main-block{
    padding: 0 0 0 0;
}

.main-block__column{
    padding: 0 0 130px 0;
}

.main-block__column-right{
    /*background: url('../images/right-bg.jpg') no-repeat;
    background-size: cover;*/
    float: right;
    width: 29%;
}

.main-block__column-left{
    float: left;
    width: 71%;
}

.main-block__content{
    float: right;
    padding: 0 27px 0 0;
    width: 930px;
}

.right-menu{
    list-style: none;
    margin: 0;
    padding: 110px 0 0 42px;
}

.right-menu__li{
    margin: 0 0 41px 0;
}

.right-menu__link:hover{
    border-bottom: 1px solid #1fcca3;
}

.right-menu__link--active:hover {
    border-bottom: 1px solid  rgba(31, 204, 163, 0);
}

.right-menu__link{
    border-bottom: 1px solid rgba(31, 204, 163, 0);
    color: #1e1e1e;
    font-family: OpenSansBold, sans-serif;
    font-size: 115%;
    text-decoration: none;
}

.right-menu__link--active{
    background-image: linear-gradient(#46d0b0, #46d0b0);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 90%;
}

.header__logo{
    float: left;
    margin: 5px 0 0 0;
}

.header-logo{
    height: 55px;
    padding: 36px 0;
    position: absolute;
    width: 165px;
    z-index: 2;
}

.header__main-container{
    height: 128px;
    position: relative;
    width: 100%;
}

.wrapper__header-main-container{
    height: 128px;
}

.header__menu-container{
    float: right;
}

.header{
    left: 0;
    padding: 36px 0px;
    position: fixed;
    top: 0;
    transition: 0.30s;    
    transition-timing-function: cubic-bezier(1,0.5,1);
    width: 100%;
    z-index: 1;
}

.header--active{
    padding: 14px 0 0 0;
    transition: 0.15s;    
    transition-timing-function: cubic-bezier(0.42,0,1,1);
}

.header__menu{    
    background: none;
    color: #1e1e1e;
    cursor: pointer;
    float: right;
    height: 24px;
    padding: 15px 0px 16px 22px;    
    position: relative;
    transition: 0.3s;
    transition-delay: 0.3s;
    width: 124px;
}

.header__menu-block-container{
    background: #f0f0f0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.2s;
    width: 100%;
    z-index: -1;
}

.header__menu:hover .header__menu-block-container{
    background: #46d0b0;
}

.header__menu:hover .header__menu-hamburger-line{
    background: #fff;
}

.header__menu:hover .header__menu-text{
    color: #fff;
}

.header__menu--active{ 
    padding: 15px 0px 16px 14px;
    width: 43px;
}

.header__phone{
    background: #f0f0f0;
    cursor: pointer;
    float: right;
    height: 55px;
    position: relative;
    transition: 0.2s;
    width: 55px;
}

.header__phone-image{
    left: 17px;
    position: absolute;
    top: 14px;
}

.header__phone:hover{
    background: #46d0b0;
}

.header__phone-image--hover{
    opacity: 0;
    transition: 0.2s;
}

.header__phone-image--normal{
    opacity: 1;
    transition: 0.2s;
}

.header__phone:hover .header__phone-image--normal{
    opacity: 0;
}

.header__phone:hover .header__phone-image--hover{
    opacity: 1;
}

.header__search{
    background: #fff;
    cursor: pointer;
    float: right;
    height: 55px;
    position: relative;
    transition: 0.2s;
    width: 55px;
}

.header__search:hover{
    background: #46d0b0;
}

.header__search:hover .header__search-image--normal{
    opacity: 0;
}

.header__search:hover .header__search-image--hover{
    opacity: 1;
}

.header__search-image{
    left: 16px;
    position: absolute;
    top: 17px;
}

.header__search-image--hover{
    opacity: 0;
    transition: 0.2s;
}

.header__search-image--normal{
    opacity: 1;
    transition: 0.2s;
}

.header__menu-hamburger-line{
    background: #1e1e1e;
    height: 2px; 
    transition: 0.2s;
    width: 29px;
}

.header__menu--active .header__menu-text{
    opacity: 0;
} 

.header__menu-text{
    font-family: OpenSansBold, sans-serif;
    left: 66px;
    position: absolute;
    top: 16px;    
    transition: 0.2s;
}

.header__menu-hamburger{
    float: left;
}

.header__menu-hamburger-line--1{
    margin: 0 0 9px 0;
}

.header__menu-hamburger-line--2{
    margin: 0 0 9px 0;
}

.header__guide{
    border-bottom: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
    color: #fff;
    float: right;
    font-family: OpenSansSemibold, sans-serif;
    height: 22px;
    padding: 15px 0px 16px 0;
    text-align: center;
    width: 349px;

}

.green-button{
    border: 1px solid #1fcca3;
    color: #1fcca3;
    cursor: pointer;
    display: table;
    font-family: OpenSansBold, sans-serif;
    padding: 11px 29px 12px 24px;
    position: relative;
    transition: 0.3s;
}

.green-button:after{
    background: #1fcca3;
    content: '';
    height: 1px;   
    margin-top: -1px; 
    position: absolute;
    right: -10px;
    top: 50%;
    transition: 0.3s;
    width: 20px;
    z-index: -1;
}

.green-button:hover:after{  
    right: 0;
    width: 100%;
}

.green-button:before{
    background: rgba(255,255,255,0);
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    right: 0;    
    z-index: -1;
}

.green-button:hover:before{
    background: #1fcca3;
    height: 100%;
    position: absolute;
    transition: 0.3s;
    transition-delay: .4s;
    width: 100%;
    top: 0;
}

.green-button:hover{
    color: #fff;
    transition-delay: .4s;
}

.category{
    margin: 799px 0 0 0;
}

.category__card{    
    background-size: cover;
    height: 325px;
    padding: 30px 36px 0px 29px;
    position: relative;
    width: 542px;
}

.category__header{
    font-family: OpenSansBold, sans-serif;
    font-size: 220%;
    padding: 0 0 36px 0;
}

.category__card--binder{
    background: url('../images/binder.jpg') no-repeat;    
    float: left;
    margin: 30px 0 0 0;
}

.category__card--fabric{
    background: url('../images/fabric.jpg') no-repeat;
    float: right;
    margin: 30px 0 0 0;
}

.category__card--glue{
    background: url('../images/glue.jpg') no-repeat;
    float: right;
    margin: 30px 0 0 0;
}

.category__card--prepregs{
    background: url('../images/prepregs.jpg') no-repeat;
    float: right;
    margin: 30px 0 0 0;
}

.category__card--glue{
    float: left;
    margin: 30px 0 0 0;
}

.category__card--prepregs{
    float: right;
    margin: 30px 0 0 0;
}

.category__ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.category__li{
    background: url(../images/marker.svg) no-repeat 2px 13px;
    font-family: GentiumRegular, serif;
    font-size: 120%;
    line-height: 140%;
    padding: 0 0px 20px 22px;
}

.category__temperature{
    bottom: 49px;
    left: 31px;
    position: absolute;
}

.category__temperature-header{
    font-family: OpenSansBold, sans-serif;
    margin: 0px 0 7px 0;
}

.category__temperature-text{
    color: #7c7c7c;
    font-family: GentiumRegular, serif;
    font-size: 115%;  
}

.category__link{
    background: #1fcca3;
    bottom: 43px;
    border-radius: 25px;
    display: table;
    height: 40px;
    position: absolute;
    right: 34px;
    text-decoration: none;
    transition: 0.4s;
    width: 40px;
}

.category__link:hover{
    border-radius: 0;
    width: 152px;
}

.category__link:hover .category__link-text{
    opacity: 1;
    right: 45px;
}

.category__link-image{
    position: absolute;
    right: 8px;
    top: 14px;
}

.category__link-text{
    color: #fff;
    transition: 0.4s;
    font-family: OpenSansBold, sans-serif;
    opacity: 0;
    position: absolute;
    right: 8px;
    top: 8px;
}


.services{
    padding: 98px 0 0 0;
}

.services__column-left{
    float: left;
    padding: 68px 0 0 0;
    width: 48%;
}

.services__column-right{
    float: left;
    padding: 68px 0 0 0;
    width: 48%;
}

.services__column-center{
    float: left;
    width: 4%;
}

.services__line{
    background: rgba(255,255,255,0.1);
    height: 218px;
    margin: 0 auto;
    width: 1px;
}

.services__link{
    display: table;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.services__icon{
    display: table;
    float: left;
}

.services__arrow{
    bottom: 2px;
    left: 50%;
    position: absolute;
}

.services__text{
    color: #ffffff;
    display: table;
    float: left;
    font-family: OpenSansSemibold, sans-serif;
    font-size: 127%;
    margin: 21px 0 0 26px;
}

.right-bg-doodle{
    background-size: cover;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 29%;
    z-index: -1;
}





.footer__social-icon{
    display: block;
    float: left;
    position: relative;
}

.footer__social-icon-image{
    position: absolute;
}

.footer__social-icon--twitter{
    height: 18px;
    width: 22px;
    margin: 0 63px 0 0;
}

.footer__social-icon-image--twitter{
    opacity: .3;
    transition: .2s;
}

.footer__social-icon-image--twitter-hover{
    opacity: 0;
    transition: .2s;
}

.footer__social-icon--twitter:hover .footer__social-icon-image--twitter-hover{
    opacity: 1;
}

.footer__social-icon--twitter:hover .footer__social-icon-image--twitter{
    opacity: 0;
}


.footer__social-icon--facebook{
    height: 22px;
    width: 14px;
    margin: -2px 70px 0 0;
}

.footer__social-icon-image--facebook{
    opacity: .3;
    transition: .2s;
}

.footer__social-icon-image--facebook-hover{
    opacity: 0;
    transition: .2s;
}

.footer__social-icon--facebook:hover .footer__social-icon-image--facebook-hover{
    opacity: 1;
}

.footer__social-icon--facebook:hover .footer__social-icon-image--facebook{
    opacity: 0;
}


.footer__social-icon--vk{
    height: 16px;
    margin: 2px 71px 0 0;
    width: 26px;
}

.footer__social-icon-image--vk{
    opacity: .3;
    transition: .2s;
}

.footer__social-icon-image--vk-hover{
    opacity: 0;
    transition: .2s;
}

.footer__social-icon--vk:hover .footer__social-icon-image--vk-hover{
    opacity: 1;
}

.footer__social-icon--vk:hover .footer__social-icon-image--vk{
    opacity: 0;
}


.footer__social-icon--instagram{
    height: 16px;
    width: 26px;
}

.footer__social-icon-image--instagram-normal{
    opacity: .3;
    transition: .2s;
}

.footer__social-icon-image--instagram-hover{
    opacity: 0;
    transition: .2s;
}

.footer__social-icon--instagram:hover .footer__social-icon-image--instagram-hover{
    opacity: 1;
}

.footer__social-icon--instagramk:hover .footer__social-icon-image--instagram{
    opacity: 0;
}


.consultation{
    background: rgba(255,255,255,1);
    display: none;
    left: 50%;
    margin-left: -355px;
    padding: 42px 0 64px 0;
    position: absolute;
    top: 195px;
    width: 669px;
    z-index: 3;
} 

.consultation__close{
    cursor: pointer;
    padding: 19px 16px 5px 14px;
    position: absolute;
    right: 0;
    top: 0;
}

.consultation__header{
    font-family: OpenSansBold, sans-serif;
    font-size: 145%;
    text-align: center;
}

.consultation__text{
    font-family: GentiumRegular, serif;
    font-size: 120%;
    padding: 23px 0 0 0;
    text-align: center;
}

.consultation__necessary{
    color: #949494;
    display: table;
    font-family: GentiumRegular, serif;
    font-size: 120%;
    margin: -3px auto 41px;
    position: relative;
}

.consultation__necessary:before{
    color: #1fcca3;
    content: '*';
    left: -19px;
    position: absolute;
    top: 5px;
}

.consultation__input{
    background: none;
    border: 1px solid #d2d2d2;
    display: block;
    font-size: 105%;
    margin: 0 auto 23px;
    outline: none;
    padding: 14px 11px 11px 13px;
    position: relative;
    width: 368px;
}

.consultation__input-container{
    display: table;
    margin: 0 auto;
    position: relative;
}

.consultation__input-container:after{
    color: #1fcca3;
    content: '*';
    right: -21px;
    position: absolute;
    top: 14px; 
}

.consultation__input--select{
    color: #1e1e1e;
    cursor: pointer;
    font-family: GentiumRegular, serif;
    font-size: 100%;
    margin: 0 auto 0 !important;
    padding: 9px 11px 9px 13px; 
}

.consultation__select{
    cursor: pointer;
    display: table;
    margin: 0 auto;
    position: relative;
}

.consultation__select:hover .consultation__select-arrow{
    background: #1fcca3;
}

.consultation__select-arrow{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s;
    width: 47px;
}

.consultation__select-arrow--active{
    background: #1fcca3 !important;
}

.consultation__select-arrow--active .consultation__select-arrow-image{
    top: 19px;
    transform: rotate(180deg);
}

.consultation__select-arrow-image{
    position: absolute;
    right: 15px;
    top: 20px;
    transition: 0.2s;
}

.consultation__select-variants{
    background: rgba(255,255,255,1);
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;    
    border-right: 1px solid #d2d2d2;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 46px;
    width: 234px;
    z-index: 1;
}

.consultation__select-variants-li{
    font-family: GentiumRegular, serif;
    font-size: 115%;
    padding: 4px 0px 4px 21px;
}

.consultation__select-variants-li:hover{
    color: #1fcca3;
}

.consultation__input--textarea{
    font-family: GentiumRegular, serif;
    font-size: 110%;
    height: 79px;
    margin: 29px auto 34px;
    padding: 5px 11px 11px 13px;
    resize: none;
}

.consultation__input::-webkit-input-placeholder{
    color: #1e1e1e;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.consultation__input:-moz-placeholder{
    color: #1e1e1e;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.consultation__input:-ms-input-placeholder{
    color: #1e1e1e;    
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.green-button--consultation{
    background: none;
    font-size: 100%;
    margin: 0 auto;
    padding: 15px 45px 16px 45px;
}

.black-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
}

@media(max-width: 1242px){
    .header__menu-container {
        position: fixed;
        right: 6px;
    }
}