<div class="header-video"><video loop="loop" muted="muted" autoplay="autoplay" poster="video/video.jpg" class="header-video__video"><source src="video/video.webm" type="video/webm"/><source src="video/video.mp4" type="video/mp4"/></video></div>